# PA3, Paul Hyden, FA22

### Append() Adding something to end of a list

In [6]:
paul = [1,2,3,4,5]
paul

[1, 2, 3, 4, 5]

In [8]:
paul.append(8)

In [9]:
paul

[1, 2, 3, 4, 5, 8]

### Extend() Basically the same as Append but it adds a list to the end of a list

In [17]:
hyden = [11,12,13]
hyden

[11, 12, 13]

In [21]:
paul.extend(hyden)
paul

[1, 2, 3, 4, 5, 11, 12, 13]

### Insert() Insert a value at a specified location

In [22]:
paul.insert(0,0)
paul

[0, 1, 2, 3, 4, 5, 11, 12, 13]

### Remove() Will remove the first occurrence of the element with a specified value

In [23]:
paul.remove(11)
paul

[0, 1, 2, 3, 4, 5, 12, 13]

### Count() Returns the number of times a element occurs in a list

In [31]:
paul.count(4)

1

### Index() Returns the position at the first occurrence of a specified value

In [32]:
paul

[0, 1, 2, 3, 4, 5, 12, 13]

In [33]:
paul.index(3)

3

### Pop() Removes an element at the specified location

In [37]:
paul = [0,1,2,3,4,5,12,13]
paul.pop(1)
paul

[0, 2, 3, 4, 5, 12, 13]

### Sorted() Will sort a list in numerical or alphabetical order

In [39]:
paul = [1,3,10,5,6]
paul.sort()
paul

[1, 3, 5, 6, 10]

### Copy() Returns a copy of the specified list

In [40]:
hyden = paul.copy()
hyden

[1, 3, 5, 6, 10]

### Clear() Removes all elements from a list

In [41]:
hyden.clear()
hyden

[]

### List() Used to store multiple items in a single variable

In [42]:
list = ['paul', 'Bernard', 'Hyden']
list

['paul', 'Bernard', 'Hyden']

### Len() Returns the number of items in a list

In [45]:
x = len(list)
x

3

### Max() Returns the item with the highest value in a list

In [46]:
hyden = max(paul)
hyden

10

### Min() Returns the item with the lowest value in a list

In [47]:
hyden = min(paul)
hyden

1